/* basic styles for scaffold */
html, body, #app {
  height: 100%;
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  padding: 16px;
  background: #f7f8fa;
}

button { cursor: pointer }
